<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nexus_scribes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NexusScribes"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">
        <activity
            android:name=".WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn_NewProfile" />
        <activity android:name=".CreateProfile" />
        <activity
            android:name=".HomePage"
            android:theme="@style/Theme.NexusScribes.Menu"/>
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:theme="@style/Theme.NexusScribes.Menu"/>
        <activity
            android:name=".UserSettings"
            android:exported="false"
            android:theme="@style/Theme.NexusScribes.Menu"/>
        <activity
            android:name=".ChatForum"
            android:exported="false"
            android:theme="@style/Theme.NexusScribes.Menu"/>
        <activity
            android:name=".AuthorGallery"
            android:exported="false"
            android:theme="@style/Theme.NexusScribes.Menu"/>
        <activity
            android:name=".AuthorDetail"
            android:exported="false" />
        <activity
            android:name=".BookGallery"
            android:exported="false"
            android:theme="@style/Theme.NexusScribes.Menu"/>
        <activity
            android:name=".BookDetail"
            android:exported="false" />
        <activity
            android:name=".AddBook"
            android:exported="false"
            android:theme="@style/Theme.NexusScribes.Menu"/>
    </application>

</manifest>